<section>
    <div class="center-align">
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel white center-align">
                    <form name="myform">
                        <h3>LOGIN</h3>
                        <div class="progress" ng-show="preload">
                            <div class="indeterminate"></div>
                        </div>
                        <div class="input-field ">
                            <input type="email" name="email" ng-model="user.email" ng-required="true" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <!-- <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched"> Must be a valid email</p> -->
                        <div class="input-field ">
                            <input type="password" name="password" ng-model="user.password" ng-required="true" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <!--  <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched"> Must be a valid password</p> -->
                        <button type="submit" class="btn" ng-disabled="myform.$invalid" ng-click="login()">Login</button>
                        <p>{{loginError}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>