<div class="table">
    <ul>
        <li class="branding"><a class="waves-effect waves-red" href="#/home">TODO APP</a></li>
        <li><a class="waves-effect waves-red" ng-href="#/meetings" ng-show="currentUser">Meetings</a></li>
        <li><a class="waves-effect waves-red" ng-href="#/login" ng-hide="currentUser">LOGIN</a></li>
        <li><a class="waves-effect waves-red" ng-href="#/register" ng-hide="currentUser">REGISTER</a></li>
    </ul>
    <ul class="right">
           <li> <a class='dropdown-button  waves-effect waves-red' href='#' data-activates='dropdown1'>{{currentUser.firstname}} {{currentUser.lastname}}</a></li>
            <ul id='dropdown1' class='dropdown-content'>
            <li><a class="waves-effect waves-red" href="#/home" ng-click="">MY PROFILE</a></li>


                <li><a class="waves-effect waves-red" href="#/home" ng-click="logout()">LOGOUT</a></li>
              <!--   <li><a href="#/home">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li> -->
            </ul>
    </ul>
    <!-- Dropdown Structure -->
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.dropdown-button').dropdown({
        inDuration: 500,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });


});
</script>